
<div class="d-flex flex-column flex-shrink-0 temp shadow">

    <ul class="nav nav-pills flex-column mb-auto text-center">
        <h2 class="fw-bold px-3 pt-3 gap-1 nav-brand d-flex justify-content-center align-items-center pr-4">
   <mat-icon>dashboard-space</mat-icon> <span class="d-none d-md-inline">Dashboard</span>
</h2>
      <li class="nav-item">
        <a routerLink="profile" href="#" routerLinkActive="text-white" class=" text-dark d-flex  align-items-center gap-1 nav-link py-3 border-bottom hard-corner" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
<mat-icon>person</mat-icon> <span class="d-none d-md-inline">Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="galleries" href="#" routerLinkActive="text-white" class="text-dark d-flex   align-items-center gap-1 nav-link py-3 border-bottom hard-corner" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
<mat-icon>collections</mat-icon> <span class="d-none d-md-inline">Galleries</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="lists" href="#" routerLinkActive="text-white" class="text-dark d-flex  align-items-center gap-1 nav-link py-3 border-bottom hard-corner" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
<mat-icon>list_view</mat-icon> <span class="d-none d-md-inline">Lists</span>
        </a>
      </li>
   </ul>
  </div>
    <router-outlet></router-outlet>
