<mat-toolbar fxLayout="row wrap" class="rounded-bottom mat-elevation-z4 sticky-top " color="primary">
    <span class="d-flex align-items-center"><mat-icon class="mx-1">home</mat-icon> My first Ang</span>
    <div class="flex-spacer"></div>
    <a mat-button routerLinkActive="active-tab" routerLink="" [routerLinkActiveOptions]="{exact:true}">About</a>
    <a target="_blank" href="https://anasEsh.github.io/portfolio" mat-button>Example Portfolio</a>
    <a routerLink="/registeration" routerLinkActive="opacity-25" class="btn btn-primary shadow-sm">Sign up/in</a>
    <a mat-button routerLinkActive="active-tab" routerLink="/dashboard">Dashboard</a>
</mat-toolbar>
