<form [formGroup]="group">
    <div class="px-3 py-2" fxFlex fxLayout="column" fxLayoutAlign="space-evenly center">
        <p class="h2">Welcome back</p>
        <mat-form-field class="col-7" appearance="outline" hintLabel="Your Email Address">
            <mat-label>Email</mat-label>
            <input matInput placeholder="user@example.com" formControlName="email"/>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="group.controls['email'].invalid">{{validator("email").invalidMessage(group.controls['email'].value)}}</mat-error>
          </mat-form-field>
        <mat-form-field class="col-7" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput [formControl]="getAsFormControl('pswd')">
            <mat-icon matSuffix>password</mat-icon>
            <mat-hint [align]="'end'">{{group.controls['pswd'].value?.length||0}}/10</mat-hint>
            <mat-error *ngIf="getAsFormControl('pswd').invalid">{{validator("pswd").invalidMessage(group.controls['pswd'].value)}}</mat-error>
        
        </mat-form-field>
        <div class="gap-4 d-flex">
            <button [disabled]="!group.valid||isLoading" mat-raised-button color="primary" (click)="submit()">Login</button>
            <button mat-flat-button color="warn" (click)="clearForm()">Clear</button>
        </div>
        <mat-progress-bar class="w-25 my-3" mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <div class="alert-danger alert m-3" *ngIf="errorText">
        {{errorText}}
    </div>
    </div>

</form>
