/* You can add global styles to this file, and also import other style files */
*{
    transition: .3s;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex-spacer{
    flex:1 1 auto
}
.active-tab{
    transform: scale(1.05);
    display: none;
}
app-root{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
