<div class="d-flex justify-content-center">
    
    <mat-tab-group class="col-11 col-md-7 col-xl-5 border" dynamicHeight="true">
    <mat-tab matRipple>
            <ng-template mat-tab-label>
                <mat-icon class="mx-1">login</mat-icon>
                Login
            </ng-template>
        <app-login-form></app-login-form>    
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="mx-1">person_add</mat-icon>
            Signup
        </ng-template>
    </mat-tab>
    <!-- <app-reg-form></app-reg-form> -->
    </mat-tab-group>
</div>